name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (test/prod)"
        required: true
        default: "test"

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  deployment:
    runs-on: ubuntu-22.04
    environment:
      name: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@v2

      - name: Login Openshift
        shell: bash
        run: |
          oc login --server=${{secrets.OPENSHIFT_LOGIN_REGISTRY}} --token=${{secrets.OPENSHIFT_SA_TOKEN}}

      - name: Tag Images and Rollout
        shell: bash
        run: |
          oc project ${{ secrets.OPENSHIFT_REPOSITORY }}-tools
          CURRENT_DATE=$(date +"%d_%m_%Y")
          oc tag condition-api:${{ github.event.inputs.environment }} condition-api:${{ github.event.inputs.environment }}_bkp_${CURRENT_DATE}
          oc tag condition-web:${{ github.event.inputs.environment }} condition-web:${{ github.event.inputs.environment }}_bkp_${CURRENT_DATE}
          oc tag condition-api:latest condition-api:${{ github.event.inputs.environment }}
          oc tag condition-web:latest condition-web:${{ github.event.inputs.environment }}
          
          oc rollout restart deployment/condition-api -n ${{ secrets.OPENSHIFT_REPOSITORY }}-${{ github.event.inputs.environment }}
          oc rollout restart deployment/condition-web -n ${{ secrets.OPENSHIFT_REPOSITORY }}-${{ github.event.inputs.environment }}
